.background-navbar {
    background-color: #2b3a91;
}

.navbar-nav li a {
    color: white;
}

.navbar-nav li a:hover {
    color: #ff0019;
}

.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.7;
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
    font-weight: bold;
    display: block;
    left: 15%;
    top: 50% !important;
    transform: translateY(-50%);
    text-align: center;
    bottom: initial;
}

#carousel-gambar img {
    max-height: 600px;
}

.footer-48201 {
    padding: 3rem 0;
    background-color: #07187a;
    color: rgb(255, 255, 255);
}

.footer-48201 .footer-site-logo {
    font-size: 1.5rem;
    color: #fff;
}

.footer-48201 .nav-links li {
    margin-bottom: 10px;
}

.footer-48201 .nav-links li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.footer-48201 .nav-links li a:hover {
    color: #ff0019;
}

.footer-48201 .btn.btn-tertiary {
    background-color: #4f76cf;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.footer-48201 .btn.btn-tertiary:hover {
    background-color: #ff0019;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.footer-48201 .social li {
    display: inline-block;
}

.footer-48201 .social li a {
    color: gray;
    padding: 7px;
}

.footer-48201 .social li a:hover {
    color: #fff;
}

.footer-48201 .copyright {
    border-top: 1px solid #ffffff;
}

#judul {
    /* font-size: 32px; */
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700px;
    position: relative;
    padding-bottom: 5px;
}

#judul::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

#judul::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #07187a;
    bottom: 0;
    left: calc(50% - 20px);
}

#img-team {
    border-radius: 50%;
    border: 3px solid #07187a;
}

.btn.btn-more {
    color: white;
    background-color: #4f76cf;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
.btn.btn-more:hover {
    background-color: #ff0019;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
.btn.btn-pesanan {
    color: white;
    background-color: #4f76cf;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
.btn.btn-pesanan:hover {
    background-color: #ff0019;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.kartu-pelayanan {
    background-color: #4f76cf;
    height: 100%;
    color: white;
}
.kartu-pesanan {
    height: 90%;
}

.kartu-pelayanan:hover {
    background-color: #ff0019;
    color: white;
    height: 100%;
}

.kartu-pesanan {
    transition: transform 0.2s ease;
    background-color: #4f76cf;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1em;
    color: white;
}
.kartu-pesanan:hover {
    transform: scale(1.1);
    background-color: #ff0019;
    color: white;
}
.kartu-kontak {
    transition: transform 0.2s ease;
    background-color: #4f76cf;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 10%;
    border: 0;
    margin-bottom: 1em;
    color: white;
}
.kartu-kontak:hover {
    transform: scale(1.1);
    background-color: #ff0019;
    color: white;
}
.visi-misi {
    transition: transform 0.2s ease;
    background-color: #4f76cf;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1em;
    color: white;
}
.visi-misi:hover {
    transform: scale(1.1);
    background-color: #ff0019;
    color: white;
}

.article-pelayanan {
    margin-top: 2rem;
}

.link-website {
    color: #ffff;
}
.link-website:hover {
    color: #ff0019;
}
.link-website2 {
    color: #4f76cf;
}
.link-website2:hover {
    color: #ff0019;
}

.nav-pills .nav-item button.active {
    background-color: #ff0019;
    color: white;
}
.nav-pills .nav-item button:hover {
    background-color: #4f76cf;
    color: white;
}

.kartu-hasil {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.kartu-hasil:hover .card-img-overlay {
    opacity: 0.9;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.card-img-overlay h5 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-img-overlay span {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn.btn-kembali {
    color: white;
    background-color: #4f76cf;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
.btn.btn-kembali:hover {
    color: white;
    background-color: #ff0019;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
